<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Details</title>
</head>
<body>
<h1>Driver Details</h1>

<form action="/auth/driver/form" method="post" th:object="${driverDTO}">


    <label for="firstName">First Name:</label>
    <input type="text" id="firstName" name="firstName" th:field="*{firstName}" ><br><br>

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" th:field="*{lastName}" ><br><br>

<!--    <label for="city">City:</label>-->
<!--    <input type="city" id="city" name="city" th:field="*{city}" required><br><br>-->

    <label>City:</label>
    <select th:field="*{city}">
        <option value="">Select City</option>
        <option th:each="city:${cities}" th:value="${city}" th:text="${city}"></option>
    </select>
<br><br>
    <label for="licenseNumber">Driver's License Number:</label>
    <input type="text" id="licenseNumber" name="licenseNumber" th:field="*{licenseNumber}" ><br><br>

    <input type="submit" value="Submit">


</form>
</body>
</html>